body{
    text-align: center;
    justify-content: center;
    background-color: lightgray;
}
#tab{
    margin-left: 200px
}

table, td, th, tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    font-size: 20px;
}
th,td{
    width: 200px;
    text-align: center;
}
img{
    height: 500px;
    width: 800px;
}
p{
    font-size: 22px;
}
#per{
    font-size: 25px;
}
h3{
    font-weight: 500;
    font-size: 40px;
}